$black: #0c0c0d;
$darkgray: #18181b;
$gray: #25252a;
$lightgray: #a5a5a5;
$white: #fafafa;
$lightgreen: #00dc82;
$yellow: #e8e311;
$red: #a40404;
$darkred: #800808;
$link-blue: #5696f6;

$transition: all .2s ease-in;

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
